---
import Container from "../components/Container.astro";
import H1 from "../components/H1.astro";
import Layout from "../layouts/Layout.astro"

---

<Layout title="portfólio">
  <main>
    <Container>
      <H1>Quer saber quem sou eu? Por aqui</H1>
    </Container>
  </main>
</Layout>