---
import Container from "../components/Container.astro";
import H1 from "../components/H1.astro";
import Layout from "../layouts/Layout.astro"

---

<Layout title="meu blog">
  <main>
    <Container>
      <H1>Artigos sobre tecnologia, programação, a vida, o universo e tudo mais</H1>
    </Container>
  </main>
</Layout>