---
export interface Props {
  to: string;
  newTab?: boolean;
}

const { to, newTab = false } = Astro.props;
---

<a
  href={to}
  target={newTab ? "_blank" : "_self"}
  class="hover:underline hover:underline-offset-8 hover:text-orange-600 dark:hover:text-amber-200 transition-colors ease-linear"
>
  <slot />
</a>